:root{
    --title_right_colour:#8a54f8;
    --title_left_colour:#f5efff;
    --background_left_colour: #0f0715;
    --background_left_colour:#281745;
    --white:aliceblue;

    --button_right_colour:#371c6a;
    --button_left_colour:#7f4cea;
    --button_colour:#693fc1;
    // --border: 1px solid green;
    
    
    
    // --textColour: #ffffff; background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #8f00fc 69%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
    



    --font_sora_bold: "sora-bold";
    --font_sora_extrabold: "sora-extrabold";
    --font_sora_light: "sora-light";
    --font_sora_medium: "sora-medium";
    --font_sora_regular: "sora-regular";
    --font_sora_semibold: "sora-semibold";

}