@font-face {
    font-family: 'sora-bold';
    src: url(../fonts/sora/Sora-Bold);
}
@font-face {
    font-family: 'sora-extrabold';
    src: url(../fonts/sora/Sora-ExtraBold);
}
@font-face {
    font-family: 'sora-light';
    src: url(../fonts/sora/Sora-Light);
}
@font-face {
    font-family: 'sora-medium';
    src: url(../fonts/sora/Sora-Medium);
}
@font-face {
    font-family: 'sora-regular';
    src: url(../fonts/sora/Sora-Regular);
}
@font-face {
    font-family: 'sora-semibold';
    src: url(../fonts/sora/Sora-SemiBold);
}
