.skill_section {
    text-align: center;
    padding: 50px 20px;
    background-color: #0f0715;
    // background: rgb(15,7,21);
    // background: linear-gradient(90deg, rgba(15,7,21,1) 1%, rgba(45,26,77,1) 52%, rgba(16,8,24,1) 80%, rgba(70,23,119,1) 97%);

    .skill_heading {
        text-align: center;


        h1 {
            // font-family: var(--font_sora_semibold);
            // font-size: 40px;
            // color: var(--brand_color);
            // margin-bottom: 10px;
            font-size: 45px;
            font-family: var(--font_sora_extrabold);
            font-weight: bold;
            background: #8958EF;
            background: linear-gradient(to right, #8958EF 34%, #FEFDFF 74%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 10px;
        }

        p {
            padding-top: 5px;
            font-family: var(--font_sora_regular);
            font-size: 16px;
            color: var(--white);
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
    }

    .skills_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .skill {
            background-color: #140c1c;
            // background-color: aliceblue;
            border-radius: 15px;
            padding: 20px;
            width: 140px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

            &:hover {
                color: var(--white);
                // background-color: var(--brand_color2);
                background-color: rgba(136, 80, 247, 0.5);
                border: 1px solid #8750f7;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                transform: translateY(-10px);
                .percentage,.skill-name{color: var(--white);}
            }

            &.active {
                color: greenyellow;
                background-color: var(--brand_color2);
            }

            img {
                padding-left: 40px;
                width: 60px;
                margin-bottom: 10px;
                display: flex;
                justify-content: center; /* Center horizontally */
                align-items: center;
            }

            .percentage {
                font-size: 1.5em;
                color: #757779;
                margin: 10px 0;
            }

            .skill-name {
                color: #8750f7;
                font-weight: bold;
            }
        }
    }
}